body {
    font-family: 		'Barlow', sans-serif;
    background-color:	#636775;
}
header, footer {
    background-color: #4A4E5E;
}
h2 {
    text-align: center;
}
section {
    background-color: #81848F;
}
p {
    color: #C7D2D8;
}
ul {
    list-style-type:    square;
    color:            #C7D2D8;
}
h2, h3	{
    font-family: 		'Poppins', sans-serif;
    color:				#FFFBF1;		
    font-style:			italic;
}
a {
    color:#FFFBF1;
}
a:hover {
    color: #81848F;
}
